<div class="register">
    <div>
        <table>
            <thead>
                <tr>
                    <th [attr.colspan]="3" class="size">
                        Registration
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>FirstName</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>MiddleName</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>LastName</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>
    </div>
</div>